/*
 * Copyright MADE/YOUR/DAY OG <mail@madeyourday.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */


@import "mixins"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import "compass/css3/text-shadow"
@import "compass/css3/transition"
@import "compass/css3/box-sizing"
@import "compass/css3/transform"


/* ===========================================
 * Basic styles (shouldn't be modified)
 * ========================================

.rsts-main, .rsts-main *
	+box-sizing(border-box)

.rsts-main
	position: absolute

.rsts-view
	position: relative
	overflow: hidden
	cursor: url("../img/openhand.cur"), default
	+experimental-value(cursor, grab)

.rsts-dragging .rsts-view
	cursor: url("../img/closedhand.cur"), default
	+experimental-value(cursor, grabbing)

.rsts-slides, .rsts-slide
	position: absolute
	left: 0
	top: 0

.rsts-slide img
	display: block


/* ===========================================
 * Default Skin
 * ========================================

.rsts-skin-default
	background: black
	.rsts-slide
		background: #666

	.rsts-slide img
		width: 100%
		height: auto

	.rsts-nav-prev, .rsts-nav-next
		position: absolute
		top: 50%
		left: 20px
		font-size: 50px
		text-decoration: none
		color: black

	.rsts-nav-next
		left: auto
		right: 20px

	.rsts-nav
		display: block
		text-align: center
		background: #222
		+box-shadow(0 0 10px black inset)
		+text-shadow(0 0 1px black)
		ul
			margin: 0
			padding: 0
		li
			display: inline
		a
			display: inline-block
			padding: .5em
			color: white
			text-decoration: none
			&:hover, &.active
				background: #333
