/*
 * Copyright MADE/YOUR/DAY OG <mail@madeyourday.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */


@import "mixins"
@import "compass/css3/images"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import "compass/css3/text-shadow"
@import "compass/css3/transition"
@import "compass/css3/box-sizing"
@import "compass/css3/transform"


/* ===========================================
 * Basic styles (shouldn't be modified)
 * ========================================

.rsts-main, .rsts-main *
	+box-sizing(border-box)

.rsts-view
	position: relative

.rsts-crop
	position: relative
	overflow: hidden

.rsts-slides, .rsts-slide
	position: absolute
	left: 0
	top: 0

.rsts-slide
	overflow: hidden

.rsts-slide img
	display: block

.rsts-type-slide

	.rsts-view
		cursor: url("../img/openhand.cur"), default
		+experimental-value(cursor, grab)

	&.rsts-dragging .rsts-view
		cursor: url("../img/closedhand.cur"), default
		+experimental-value(cursor, grabbing)



/* ===========================================
 * Default Skin
 * ========================================

.rsts-skin-default

	&.rsts-main
		position: relative
		margin: auto

	.rsts-slide img
		width: 100%
		height: auto

	.rsts-caption
		position: absolute
		top: 20px
		left: 20px
		padding: 5px 10px
		color: white
		background: black
		background: rgba(black, .75)
		opacity: 0
		+transform(translate(0, -20px))
		+transition(opacity .5s, transform .5s)
	.rsts-active .rsts-caption
		opacity: 1
		+transform(translate(0, 0))

	.rsts-nav-prev, .rsts-nav-next
		position: absolute
		left: 20px
		top: 50%
		opacity: 0
		overflow: hidden
		width: 36px
		height: 36px
		margin-top: -34px
		border: 1px solid #bbb
		+border-radius(100%)
		line-height: 0
		text:
			align: center
			decoration: none
			indent: -9999px
		background: white
		+background-image(radial-gradient(white 12px, #bbb 22px))
		+single-transition(opacity, 0.2s, ease-in)
		+box-shadow(0 0 5px 3px rgba(black, 0), 0 0 1px 2px rgba(black, 0.1), inset 0 2px 0 -1px white)
		&:after
			content: "\203a"
			display: block
			padding-top: 8px
			font: bold 16px/1 "Verdana", monospace
			text-indent: 0
			color: #555
	.rsts-nav-prev:after
		content: "\2039"

	&:hover
		.rsts-nav-prev, .rsts-nav-next
			opacity: 0.4
			&:hover
				opacity: 1
				+transition-duration(0.05s)
				+animation('shadow-pulse 1s')
				+animation-property('iteration-count', 'infinite')

	.rsts-nav-next
		left: auto
		right: 20px

	&.rsts-direction-y
		.rsts-nav-prev, .rsts-nav-next
			left: 50%
			top: 10px
			margin-top: 0
			margin-left: -18px
			&:after
				content: "\25b2"
				padding-top: 9px
				font-size: 11px
				color: #555
		.rsts-nav-next
			top: auto
			bottom: 42px
			&:after
				content: "\25bc"
				padding-top: 11px

	.rsts-nav
		display: block
		text-align: center
		ul
			margin: 0
			padding: 0
		li
			display: inline

	.rsts-nav-numbers, .rsts-nav-tabs
		a
			display: inline-block
			padding: .5em
			color: white
			text-decoration: none
			&:hover, &.active
				background: #333

	.rsts-nav-bullets
		line-height: 0
		a
			display: inline-block
			width: 8px
			height: 8px
			overflow: hidden
			margin: 12px 4px
			+border-radius(100%)
			text-indent: -999px
			background-color: #999
			&:hover, &.active
				background-color: #ccc

	.rsts-video-play, .rsts-video-stop
		position: absolute
		left: 50%
		top: 50%
		width: 64px
		height: 64px
		overflow: hidden
		margin: -32px 0 0 -32px
		+border-radius(5px)
		text:
			indent: -999px
			decoration: none
		background: black
		background: rgba(black, .8)
		&:before
			content: "\25ba"
			position: absolute
			left: 17px
			top: 12px
			display: block
			font-size: 36px
			color: #fff
			text-indent: 0
		&:hover, &:focus
			background: white
			background: rgba(white, .8)
			+box-shadow(0 0 10px rgba(black, .3))
			&:before
				color: #000

	.rsts-video-stop
		top: 10px
		left: auto
		right: 10px
		margin: 0
		+border-radius(5px)
		width: 32px
		height: 32px
		&:before
			content: "\d7"
			top: 8px
			left: 8px
			width: 16px
			height: 16px
			border: 0
			color: white
			font:
				size: 23px
				weight: bold
			line-height: 18px
			text:
				align: center
				indent: 0

	.rsts-progress
		position: absolute
		right: 0
		bottom: 0
		width: 20%
		height: 10px
		border: 1px solid white
		opacity: 0
		+transition(opacity 0.2s linear)
		div
			height: 100%
			background-color: white
		&.rsts-progress-active
			opacity: 1

@include keyframes('shadow-pulse')
	50%
		+box-shadow(0 0 5px 3px rgba(black, 0.2), 0 0 1px 2px rgba(black, 0.1), inset 0 2px 0 -1px white)
