/*
 * Copyright MADE/YOUR/DAY OG <mail@madeyourday.net>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */


@import "mixins"
@import "compass/css3/images"
@import "compass/css3/border-radius"
@import "compass/css3/box-shadow"
@import "compass/css3/text-shadow"
@import "compass/css3/transition"
@import "compass/css3/box-sizing"
@import "compass/css3/transform"


/* ===========================================
 * Basic styles (shouldn't be modified)
 * ========================================

.rsts-main, .rsts-main *
	+box-sizing(border-box)

.rsts-view
	position: relative

.rsts-crop
	position: relative
	overflow: hidden

.rsts-slides, .rsts-slide
	position: absolute
	left: 0
	top: 0

.rsts-slide
	overflow: hidden

.rsts-slide img
	display: block

.rsts-video-iframe
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

.rsts-type-slide

	.rsts-view
		cursor: url("../img/openhand.cur"), default
		+experimental-value(cursor, grab)

	&.rsts-dragging .rsts-view
		cursor: url("../img/closedhand.cur"), default
		+experimental-value(cursor, grabbing)



/* ===========================================
 * Default Skin
 * ========================================

.rsts-skin-default

	&.rsts-main
		position: relative

	&.rsts-type-fade .rsts-slide
		background: white

	.rsts-slide img
		width: 100%
		height: auto

	.rsts-caption
		position: absolute
		top: 20px
		left: 20px
		padding: 5px 10px
		color: white
		background: black
		background: rgba(black, 0.75)
		opacity: 0
		+transform(translate(0, -20px))
		+transition(opacity 0.5s, transform 0.5s)
	.rsts-active .rsts-caption
		opacity: 1
		+transform(translate(0, 0))

	.rsts-nav-prev, .rsts-nav-next
		position: absolute
		left: 20px
		top: 50%
		opacity: 0
		overflow: hidden
		width: 36px
		height: 36px
		margin-top: -18px
		+border-radius(5px)
		line-height: 0
		text:
			align: center
			decoration: none
			indent: -9999px
		background: black
		+transition(opacity 0.2s linear)
		&:after
			content: "\203a"
			display: block
			padding:
				top: 5px
				right: 4px
			font: normal 24px/1 "Courier New", monospace
			text-indent: 0
			color: white
	.rsts-nav-prev:after
		content: "\2039"
		padding:
			right: 0
			left: 4px

	&:hover
		.rsts-nav-prev, .rsts-nav-next
			opacity: 0.4
			&:hover
				opacity: 0.8

	.rsts-nav-next
		left: auto
		right: 20px

	&.rsts-direction-y
		.rsts-nav-prev, .rsts-nav-next
			left: 50%
			top: 10px
			margin:
				top: 0
				left: -18px
			&:after
				content: "\25b2"
				padding: 12px 0 0
				font-size: 11px
		.rsts-nav-next
			top: auto
			bottom: 10px
			&:after
				content: "\25bc"

	.rsts-nav
		display: block
		text-align: center
		ul
			margin: 0
			padding: 0
		li
			display: inline

	.rsts-nav-numbers, .rsts-nav-tabs
		a
			display: inline-block
			min-width: 20px
			padding: 0.2em 0.3em
			margin: 5px 2px
			font-size: 0.75em
			color: white
			text-decoration: none
			background: #333
			+border-radius(3px)
			&:hover, &.active
				background: #555

	.rsts-nav-bullets
		line-height: 0
		a
			display: inline-block
			width: 8px
			height: 8px
			overflow: hidden
			margin: 12px 4px
			+border-radius(100%)
			text-indent: -999px
			background-color: #999
			&:hover, &.active
				background-color: #ccc

	.rsts-video-play, .rsts-video-stop
		position: absolute
		left: 50%
		top: 50%
		width: 64px
		height: 64px
		overflow: hidden
		margin: -32px 0 0 -32px
		+border-radius(5px)
		text:
			indent: -999px
			decoration: none
		background: black
		background: rgba(black, 0.8)
		&:before
			content: "\25ba"
			position: absolute
			left: 17px
			top: 12px
			display: block
			font-size: 36px
			color: #fff
			text-indent: 0
		&:hover, &:focus
			background: white
			background: rgba(white, 0.8)
			+box-shadow(0 0 5px 1px rgba(black, 0.2))
			&:before
				color: #000

	.rsts-video-stop
		top: 10px
		left: auto
		right: 10px
		margin: 0
		width: 32px
		height: 32px
		&:before
			content: "\d7"
			top: 7px
			left: 8px
			width: 16px
			height: 16px
			border: 0
			color: white
			font:
				size: 23px
				weight: bold
			line-height: 18px
			text:
				align: center
				indent: 0

	.rsts-video-vimeo > .rsts-video-stop
		left: 10px
		right: auto

	.rsts-video-ipad
		> .rsts-video-iframe
			padding-top: 32px
		> .rsts-video-stop
			left: auto
			right: 0
			top: 0

	.rsts-progress
		position: absolute
		right: 0
		bottom: 0
		width: 100%
		height: 3px
		opacity: 0
		background-color: black
		+transition(opacity 0.2s linear)
		div
			height: 100%
			background-color: white
		&.rsts-progress-active
			opacity: 0.3

@import "light-skin"
@import "dark-skin"
